@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background: linear-gradient(to right,#8181e8,#6b6794,#27334a);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80vw;
  max-width: 80%;
  background-color: #36366f;
  height: 70vh;
  box-shadow: 0 0 5px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center;
}

.score {
  font-size: large;
  font-weight: bold;
}

#user-score {
  color: #8eabe0;
}

#total-score {
  color: #49529e;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  font-size: large;
  font-weight: bold;
  box-shadow: 0 6px 12px -2px rgba(rgb(124, 128, 200), rgb(117, 110, 181), rgb(37, 37, 93), rgb(50, 50, 136));
  background: #51516e;
  border-radius: 4px;
  padding: 10px;
  color: #8585c5;
  margin: 6px;
  cursor: pointer;
}

.btn:hover {
  color: black;
  padding: 15px;
}

.options {
  padding: 10px;
  order: 4;
}

.hide {
  display: none;
}